*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    height: 100%;
    width: 100%;
}

body{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,0.454295096945028) 100%);
    font-family: 'Poppins', sans-serif;
}

h1{
    color: white;
    margin: 2.5rem 0;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
}

h2{
    margin-top: 6rem;
    margin-bottom: 3rem;
    color: whitesmoke;
    letter-spacing: 5px;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.box-song{
    height: auto;
    width: 18rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background: whitesmoke;
}

.box-song:hover{
    width: 19rem;
    transition: 0.5s;
}

.info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unlike{
    fill: transparent;
    stroke: rgb(75, 75, 75);
    stroke-width: 20px;
}

.like{
    fill: rgb(255, 121, 107);
    stroke: rgb(255, 121, 107);
}

.description{   
    margin: 1rem;
    font-size: 0.8rem;
}

.artist{
    font-weight: 600;
}

.fav-icon{
    display: flex;
    justify-content: end;
    margin-right: 1rem;
    width: 8%;
}

svg{
   width: 100%; 
}

.results{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 2rem;
    gap: 1rem;
    height: 8rem;
    font-size: 0.7rem;
    margin-top: 5rem;
}
